<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>SMS Bulk Platform | WH 2020</span></div>
    </div>
</footer>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="js/global.js"></script>
<% if (title) { %>
    <% if (title == 'Send SMS') { %>
        <script src="js/sendSMS.js"></script>
    <% } %>
    <%  if(title == 'messages') { %>
 
        <script src="js/messages.js"></script>
    <% } %>
    <%  if(title == 'contacts') { %>
      
        <script src="js/contacts.js"></script>
    <% } %>
    <%  if(title == 'groups') { %>
      
        <script src="js/groups.js"></script>
    <% } %>
    <% } %>
</body>

</html>